{% extends "layouts/default.html" %}
{% block title %}The Third of May 2017{% endblock %}
{% block content %}

<div id="content">
  <h1>The Third of May 2017</h1>
  
  <ul id="menu">
    <li><a href="#">home</a></li>
    <li><a href="#">doujin</a></li>
    <li><a href="#">daily drawings</a></li>
    <li><a href="#">photos</a></li>
    <li><a href="#">tech blog</a></li>
    <li><a href="#">contact</a></li>
  </ul>
  
  <div id="blog-wrapper">
    <div id="blogbody">
      <h2>{{caption}}</h2>
      <h4>{{updated-at}}</h4>
      {{ compiled_body|safe|escape }}     
      <p> <a href="blog.html">Write a Comment</a> (423 existing) → </p>      
    </div>
    <div id="sidebar">
      <ul id="cats">
        <li class="h2">Categories</li>
        <li>• <a href="#">Blogging</a> (14)</li>
        <li>• <a href="#">Typography</a> (29)</li>
        <li>• <a href="#">Graphicdesign</a> (94)</li>
        <li>• <a href="#">Webdesign</a> (156)</li>
        <li>• <a href="#">Apple</a> (32)</li>
        <li>• <a href="#">Android</a> (5)</li>
        <li>• <a href="#">Freebies</a> (47)</li>
        <li>• <a href="#">Books</a> (24)</li>
        <li>• <a href="#">Contests</a> (76)</li>
        <li>• <a href="#">Products</a> (38)</li>
      </ul>
    </div>
  </div>  
</div>

{% endblock %}
